---
---

@import "{{ site.theme }}";

.post-header {
	text-align: center;
}

.wrapper-copy {
	text-align: center;
  
  	p {
		margin: 0px;
	}
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
