<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <title>Redirigiendo...</title>

  {% include analytics.html %}

  <style>
    body { font-family: sans-serif; text-align: center; padding-top: 50px; color: #666; }
    .loader { margin: 20px auto; border: 5px solid #f3f3f3; border-top: 5px solid #3498db; border-radius: 50%; width: 40px; height: 40px; animation: spin 1s linear infinite; }
    @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
  </style>
</head>
<body>

  <div class="loader"></div>
  <p>Redirigiendo a <strong>{{ page.title }}</strong>...</p>
  <p style="font-size: 12px;"> <a href="{{ page.destination }}">Clic aquí si no redirige</a></p>

  <script>
    var destination = "{{ page.destination }}";
    const urlParams = new URLSearchParams(window.location.search);
    const contentParam = urlParams.get('utm_content');
    if (contentParam) {
      destination += contentParam;
    }

    // Esperamos 1.5 segundos para asegurar que analytics.html
    // tenga tiempo de enviar el dato a Google antes de irnos.
    setTimeout(() => window.location.href = destination, 1000);
  </script>

</body>
</html>